<div class="grid grid-cols-3">
  <form id="createForm" (ngSubmit)="create()" [formGroup]="createForm">
    <h1 class="text-lg font-bold">Create a new Product</h1>

    <label class="form-control w-full" for="name">
      <div class="label">
        <span class="label-text">Name</span>
      </div>
      <input
        id="name"
        type="text"
        placeholder="Type name here"
        class="input input-bordered w-full"
        formControlName="name"
      />
      <div class="label">
        <span
          class="label-text-alt text-red-600"
          *ngxControlError="name; track: 'required'"
        >
          Name is required
        </span>
      </div>
    </label>

    <label class="form-control w-full" for="brand">
      <div class="label">
        <span class="label-text">Brand</span>
      </div>
      <input
        id="brand"
        type="text"
        placeholder="Type brand here"
        class="input input-bordered w-full"
        formControlName="brand"
      />
      <div class="label">
        <span
          class="label-text-alt text-red-600"
          *ngxControlError="brand; track: 'required'"
        >
          Brand is required
        </span>
      </div>
    </label>

    <label class="form-control w-full" for="color">
      <div class="label">
        <span class="label-text">Color</span>
      </div>
      <input
        id="color"
        type="color"
        class="input input-bordered w-full"
        formControlName="color"
      />
      <div class="label">
        <span
          class="label-text-alt text-red-600"
          *ngxControlError="color; track: 'required'"
        >
          Color is required
        </span>
      </div>
    </label>

    <label class="form-control w-full" for="description">
      <div class="label">
        <span class="label-text">Description</span>
      </div>
      <textarea
        id="description"
        placeholder="Type description here"
        class="textarea textarea-bordered w-full"
        formControlName="description"
      ></textarea>
      <div class="label">
        <span
          class="label-text-alt text-red-600"
          *ngxControlError="description; track: 'required'"
        >
          Description is required
        </span>
      </div>
    </label>

    <label class="form-control w-full" for="price">
      <div class="label">
        <span class="label-text">Price</span>
      </div>
      <input
        id="price"
        type="number"
        placeholder="Type price here"
        class="input input-bordered w-full"
        formControlName="price"
      />
      <div class="label">
        <span
          class="label-text-alt text-red-600"
          *ngxControlError="price; track: 'required'"
        >
          Price is required
        </span>
      </div>
    </label>

    <label class="form-control w-full" for="stock">
      <div class="label">
        <span class="label-text">Number of stock</span>
      </div>
      <input
        id="stock"
        type="number"
        placeholder="Enter the stock here"
        class="input input-bordered w-full"
        formControlName="stock"
      />
      <div class="label">
        <span
          class="label-text-alt text-red-600"
          *ngxControlError="stock; track: 'required'"
        >
          Stock is required
        </span>
      </div>
    </label>

    <label class="form-control w-full" for="size">
      <div class="label">
        <span class="label-text">Size</span>
      </div>
      <select
        id="size"
        class="select select-bordered w-full"
        formControlName="size"
      >
        <option disabled selected>Select size</option>
        @for (size of sizes; track size) {
        <option value="{{ size }}">{{ size }}</option>
        }
      </select>
    </label>

    <label class="form-control w-full" for="category">
      <div class="label">
        <span class="label-text">Category</span>
      </div>
      <select
        id="category"
        class="select select-bordered w-full"
        formControlName="category"
      >
        <option disabled selected>Select category</option>
        @for (category of categories; track category.publicId) {
        <option value="{{ category.publicId }}+{{ category.name }}">
          {{ category.name }}
        </option>
        }
      </select>
    </label>

    <label class="form-control w-full" for="pictures">
      <div class="label">
        <span class="label-text">Pictures</span>
      </div>
      <input
        id="pictures"
        type="file"
        class="file-input w-full"
        multiple
        (change)="onUploadNewPicture($event.target)"
        formControlName="pictures"
      />
      <div class="label">
        @if (productPictures.length === 0 && pictures.invalid &&
        !pictures.untouched) {
        <span class="label-text-alt text-red-600"
          >At least one picture is required</span
        >
        }
      </div>
    </label>

    <div class="form-control w-full">
      <label class="label cursor-pointer" for="featured">
        <span class="label-text">Featured</span>
      </label>
      <div class="flex justify-center">
        <input
          id="featured"
          type="checkbox"
          class="checkbox checkbox-primary"
          formControlName="featured"
        />
      </div>
    </div>

    <button
      type="submit"
      class="btn btn-primary btn-wide w-full"
      [disabled]="createForm.invalid"
    >
      @if(loading) {
      <span class="loading-spinner loading"></span>
      } Create product
    </button>
  </form>
</div>
